:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(196, 78, 78, 0.7);
    --left-button-hover-color: rgba(66, 49, 49, 0.8);
    --right-bg-color: rgba(1, 3, 63, 0.8);
    --right-button-hover-color: rgba(97, 87, 134, 0.7);
    --hover-width: 55%;
    --other-width: 45%;
    --speed: 800ms;
}

html, body{
    padding: 0;
    margin: 0;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Kulim Park', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 3.5rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.button{
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: white;
    border: white solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
}

.split.left .button:hover{
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.split.right .button:hover{
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left{
    left: 0;
    background: url(/imagefolder/main-backgrounds/acting.JPG) center center no-repeat;
    background-size: cover;
}

.split.left:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}


.split.right{
    right: 0;
    background: url(/imagefolder/main-backgrounds/webdeveloper.jpg) center center no-repeat;
    background-size: cover;
}

.split.right:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.right:before{
    transition: var(--speed) all ease-in-out;
}

.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--other-width);
}

.hover-left .right:before{
    z-index: 2;
}

.hover-right .right{
    width: var(--hover-width);
}

.hover-right .left{
    width: var(--other-width);
}

.hover-right .left:before{
    z-index: 2;
}


.title{
    background-color: rgb(74, 74, 74);
    text-align: center;
    width: 100%;
    height: 115px;
    /* font-size: 32px; */
    display: inline-block;
    color: rgb(255, 255, 255);
    padding-top: 35px;
    /* font-family: 'Baloo 2', cursive; */
}

.title-typewriter{
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 3.5rem;
    /* font-weight: 600; */
    border-right: 4px solid rgb(136, 82, 82);
    box-sizing: border-box;
    animation-delay: 0s;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-top: 0px;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
} 

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(180, 89, 89); 
    }
}

@media (max-width: 999px){
    h1{
        font-size: 1.8rem;
    }
    .button{
        width: 10rem;
    }
}